html, body {
    font-family: Arial,helvetica,sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

section {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

code {
  background: #f8f8f8;
}

blockquote, pre {
  margin: 0 0 1em;
  padding: 1em;
  background: #f8f8f8;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.2rem;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.2rem;
}

pre {
  word-wrap: normal;
  white-space: pre;
}

canvas {
    width: 100%;
    height: 100%
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

h1 {
  font-size: 2em;
  margin: 0.1em;
}

h3 {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

.container  {
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;

}

.navigation {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start;

    list-style: none;
    margin: 0;

    background: deepskyblue;
    padding-left: 0;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 0.5em;
  color: white;
}

#progress{ position: absolute; left: 0; top: 0; z-index: 100; height: 10px; background-color: #b70000;}

#stats {
    z-index: 100;
    position: absolute;
    bottom: 0;
}

#vibcrystal {
    height: 100%;
    width: 100%;
   	position: absolute;
}

#highcharts {
    height: 100%;
    width: 100%;
	  position: absolute;
}

.positions {
    width:"100%";
    overflow: auto;
}

.material-name {
    vertical-align: middle;
    text-align: center;
    height: 3em;
    margin: 0;
}

.flex-container {
    width: 100%;
  	height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    justify-content: space-around;

    flex: 1;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: stretch;
}

.flex-item {
    width: 100%;
    flex: 1;
    order: 1;
    overflow: auto;
}

.flex-vibcrystal {
    width: 100%;
    flex: 2;
    order: 2;
    position: relative;
}

.flex-highcharts {
    width: 100%;
    flex: 2;
    order: 3;
    position: relative;
}

.input-rep {
  width: 20%;
}

.atypes-text {
	width: 80%;
}

.atypes-data {
	width: 20%;
}

.lattice td {
  width: 20%;
}

#atompos td {
  width: 20%;
}

ap {
  width: 10%;
}

.materials {
    list-style: none;
    overflow: auto;
    margin: 0;
    padding-left: 0;
}

.materials li a {
    text-decoration: none;
    margin-bottom: 0.2em;
    display: block;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.materials li a:hover {
    background: deepskyblue;
}

@media all and (max-width: 1000px) {
    .navigation {
        justify-content: space-around;
    }

    .container {
      height: auto;
    }

    .flex-container {
	    -webkit-flex-flow: column wrap;
	    flex-flow: column wrap;
      height: auto;
    }

    .flex-item {
        flex: auto;
        order: 1;
    }

    .flex-vibcrystal {
        flex: auto;
        min-height: 500px;
    }

    .flex-highcharts {
        flex: auto;
        order: 3;
        min-height: 500px;
    }

    body {
      overflow: auto;
    }
}
