html, body {
    font-family: Arial,helvetica,sans-serif;
    margin:0;
    padding:0;
    height:100%;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

h1 {
  font-size: 2em;
  margin: 0.2em;
}

h3 {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

.container  {
    height:100vh;
    background: gray;
}

.positions {
    width:"100%";
    overflow: scroll;
}

.material-name {
    text-align: center;
    height: 2.5em;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-around;
 
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    background: black;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: stretch;
}

.flex-item {
    padding: 5px;
    flex: 1 0px;
    background: red;
}

.flex-vibcrystal {
    padding: 5px;
    flex: 2 0px;
    background: yellow;
}

.flex-highcharts {
    padding: 5px;
    flex: 2 0px;
    background: blue;
}

.input-rep {
  width: 20%;
}

.atypes-text { width: 80%; }
.atypes-data { width: 20%; }

.lattice td {
  width: 20%;
}

#atompos td {
  width: 20%;
}

ap {
  width: 10%;
}


.materials {
    list-style: none;
    overflow: auto;
    margin: 0;
    padding-left: 0;
}

.materials li a {
  text-decoration: none;
  margin-bottom: 0.2em;
  display: block;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.materials li a:hover {
  background: deepskyblue;
}

.navigation {
    list-style: none;
    margin: 0;

    background: deepskyblue;

    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }

    .flex-container {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        height: auto;
    }

    .flex-item {
        height: auto;
        flex: 1 0px;
        order: 1
    }

    .flex-vibcrystal {
        height: 600px;
        flex: 1 0px;
        order: 3
    } 

    .flex-highcharts {
        height: 600px;
        flex: 1 0px;
        order: 2
    }
}

@media all and (max-width: 600px) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a { 
        text-align: center; 
        padding: 10px;
    }

    .navigation li:last-of-type a {
        border-bottom: none;	
    }

}
